/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bfg-1.14.0.jar
/bfg-1.14.0.jar.Zone.Identifier
bfg-1.14.0.jar.Zone.Identifier
/bfg.jar
/bfg-1.14.0.jarZone.Identifier
