p.note {
    font-size: 1rem;
    color: red;
}


label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}
